@font-face {
  font-family: "Cerebri Sans";
  src: url(../public/fonts/Cerebri-Sans/CerebriSansPro-Light.otf);
  src: url(../public/fonts/Cerebri-Sans/CerebriSansPro-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../public/fonts/Cerebri-Sans/CerebriSansPro-Regular.otf);
  src: url(../public/fonts/Cerebri-Sans/CerebriSansPro-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../public/fonts/Cerebri-Sans/CerebriSansPro-Bold.otf);
  src: url(../public/fonts/Cerebri-Sans/CerebriSansPro-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  background: #f9f7fe;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}